.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    width: 98px
    top: 0%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    width: 98px
    top: 20%
    right: 10%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    width: 98px
    top: 21%
    left: -10%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption, table caption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 400px !important
  padding-bottom: 0 !important
  @media screen and (min-width: $bp-min-xl)
    width: 475px !important
    padding-right: 0 !important

.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
  background-color: $color-acento-contenido-a5 !important
.banner-principal .tarjeta
  background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important
  @media screen and (min-width: $bp-min-sm)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (min-width: $bp-min-lg)
    background-image: url("../assets/curso/portada/fondo-banner-principal.png") !important


.text-end 
    text-align: left !important

// BACKGROUNDS color
.bg-azul
  background-color: #EBF7FF
.bg-terciario-t5
  background-color: $color-terciario-t5
.bg-terciario-t10
  background-color: $color-terciario-t10

//GENERALES

.banner-text
  background: $color-secundario-s20
  border-radius: 10px
  padding: 20px 30px
  margin-top: -60px

  @media (min-width: 992px)
    margin-top: -80px

.slyder-a
  .slyder-a__btn--atrs, .slyder-a__btn--sigt
    background-color: $color-acento-botones
    color: $white
  .slyder-a__bullets__item
    background-color: $color-acento-botones